<!doctype html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>bit.plan</title>
    <style>
        .sitediv {
            margin-left: 10%;
            width: 60%;
        }

        .blogdiv {
            width: 30%;
        }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="{% static 'sltabase.js' %}"></script>
    <script src="{% static 'showdown.min.js' %}"></script>
    <script>
    showdown.setOption('tables', true);
    function opacityBlog(k) {
        var id = window.setTimeout(function() {}, 0);

        while (id--) {
            window.clearTimeout(id); // will do nothing if no timeout with id is present
        }
        document.getElementById('siteBox').style.opacity = k;
        if(k < 1) {
            setTimeout(opacityBlog, 50, k+0.05);
        }
    }

    function search() {
        validposts = Object.keys(blogposts).filter(x => x.startsWith(document.getElementById('searchbar').value));
        loadCards();
    }

    function loadCards() {
        let domColumns = document.getElementById("blogBox");
        while (domColumns.firstChild) {
            domColumns.removeChild(domColumns.firstChild);
        }
        for(let i of validposts) {
            let item = document.createElement('div');
            item.classList = 'card';
            item.style["margin-bottom"] = "10px";
            let mdtext = blogposts[i].texto;
            let cbody = document.createElement('div');
            cbody.classList='card-body';
            let ctitle = document.createElement('h5');
            ctitle.classList = 'card-title';
            ctitle.innerText = blogposts[i].titulo;
            ctitle.onclick = () => strMarkdown(mdtext, x => setSiteHtml(x + '<hr/>' + blogposts[i].fecha.split('T')[0]), () => opacityBlog(0.4));
            let ctext = document.createElement('p');
            ctext.classList = 'card-text';
            ctext.innerText = mdtext.slice(0,15);
            cbody.appendChild(ctitle);
            cbody.appendChild(ctext);
            item.appendChild(cbody);
            domColumns.appendChild(item);
        }
        domColumns.style["margin-top"] = "20px";
    }

    var blogposts = {};
    var validposts = [];

    function unhideQuote(x) {
        document.getElementById('quoteBox').style = "clear:both;height:" + x + "vh;overflow-y: hidden; margin-top: 5px;";
        document.getElementById('quoteBox').style.opacity = (x/15);
        if(x < 15)
            setTimeout(unhideQuote,30,x+0.5);
        else document.getElementById('quoteBox').style = "clear:both;height:vh;overflow-y: visible; margin-top: 5px;";
    }

    async function init() {
        let blogdata = await fetch('blogpost');
        blogdata = await blogdata.json();
        blogposts = {};
        validposts = [];
        for(let i = 0; i < blogdata.length; i++) {
            blogposts[blogdata[i].pk]= {'fecha': blogdata[i].fields.fecha,
                                      'titulo': blogdata[i].pk,
                                      'texto': blogdata[i].fields.markup};
            validposts.push(blogdata[i].pk);
        }
        console.log(blogposts);
        loadCards();
        unhideQuote(0);
    }
    </script>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, height=device-height"/>
</head>
<body onload="init()">
<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="./" onclick="mainSite();">bit.plan</a>
        <input class="form-control" type="search" placeholder="Búsqueda" aria-label="Búsqueda" onchange="search()"
               id="searchbar">
    </nav>
    <div id="wholeBox" style="width: 100%; position: relative; height: 65vh;">
        <div id="blogBox" class="blogdiv float-left" style="overflow-y: scroll; height:100%;">
        </div>
        <div id="siteBox" class="sitediv float-right">
            <center><h2>Para ver un artículo haga click en su título</h2></center>
        </div>
    </div>
    <div style="clear: both; height: 0vh; overflow-y:hidden; margin-top: 5px;" id="quoteBox">
        <hr/>
        <blockquote class="blockquote float-right">
            <p class="mb-0">{{ quote_text }}</p>
            <footer class="blockquote-footer">{{ quote_autor }}</footer>
        </blockquote>
    </div>
</div>
</body>
</html>